In [3]:
import pandas as pd
import os
from datetime import datetime
from datetime import datetime, timedelta
import time as time_lib
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy.stats import gaussian_kde
import matplotlib.dates as mdates
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [4]:
def report_savefig(plotname):
    fig_folder_path = "figures/"
    fig.savefig(fig_folder_path+plotname+".pdf",format='pdf',bbox_inches='tight',pad_inches=0,transparent=True)

# Selected site cloud data (resolution 15 minute)

In [5]:
cloudfolderpath = 'cloud'
filename = 'dataset_non_realistic_cm_r_5x5.csv'
df = pd.read_csv(os.path.join(cloudfolderpath,filename),index_col='Datetime',parse_dates=['Datetime'])
df.head()

,site_name,I,Iclr,latt,long,CI,CI_1,CI_2,CI_3,CI_4,...,R_16,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25
Datetime,,,,,,,,,,,,,,,,,,,,,
2022-04-01 08:00:00+07:00,ISL001,357.6841,402.581345,14.00523,100.519403,14.0,20.0,15.0,15.0,20.0,...,106.0,87.0,82.0,76.0,77.0,94.0,81.0,79.0,75.0,76.0
2022-04-01 08:15:00+07:00,ISL001,413.5059,468.732095,14.00523,100.519403,14.0,20.0,15.0,15.0,20.0,...,106.0,87.0,82.0,76.0,77.0,94.0,81.0,79.0,75.0,76.0
2022-04-01 08:30:00+07:00,ISL001,471.1933,532.843024,14.00523,100.519403,13.0,12.0,15.0,17.0,21.0,...,75.0,74.0,75.0,76.0,78.0,79.0,76.0,76.0,75.0,77.0
2022-04-01 08:45:00+07:00,ISL001,536.3066,594.551229,14.00523,100.519403,13.0,12.0,15.0,17.0,21.0,...,75.0,74.0,75.0,76.0,78.0,79.0,76.0,76.0,75.0,77.0
2022-04-01 09:00:00+07:00,ISL001,604.1268,653.535674,14.00523,100.519403,13.0,12.0,15.0,17.0,21.0,...,75.0,74.0,75.0,76.0,78.0,79.0,76.0,76.0,75.0,77.0

In [6]:
# Site selection
site = "ISL001"

# Read and filter the CSV file in chunks
chunk_size = 10000  # Adjust based on your system's memory capacity
chunks = pd.read_csv(os.path.join(cloudfolderpath,filename), chunksize=chunk_size)

filtered_chunks = []

for chunk in chunks:
    filtered_chunk = chunk[chunk['site_name'] == site]
    filtered_chunks.append(filtered_chunk)

# Concatenate the filtered chunks into a single DataFrame
df = pd.concat(filtered_chunks, ignore_index=True)
# Convert 'Date' column to datetime format
df['Datetime'] = pd.to_datetime(df['Datetime'])
# Set 'Date' as the index
df.set_index('Datetime', inplace=True)
df = df.tz_localize(None)
df.head()

,site_name,I,Iclr,latt,long,CI,CI_1,CI_2,CI_3,CI_4,...,R_16,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25
Datetime,,,,,,,,,,,,,,,,,,,,,
2022-04-01 08:00:00,ISL001,357.6841,402.581345,14.00523,100.519403,14.0,20.0,15.0,15.0,20.0,...,106.0,87.0,82.0,76.0,77.0,94.0,81.0,79.0,75.0,76.0
2022-04-01 08:15:00,ISL001,413.5059,468.732095,14.00523,100.519403,14.0,20.0,15.0,15.0,20.0,...,106.0,87.0,82.0,76.0,77.0,94.0,81.0,79.0,75.0,76.0
2022-04-01 08:30:00,ISL001,471.1933,532.843024,14.00523,100.519403,13.0,12.0,15.0,17.0,21.0,...,75.0,74.0,75.0,76.0,78.0,79.0,76.0,76.0,75.0,77.0
2022-04-01 08:45:00,ISL001,536.3066,594.551229,14.00523,100.519403,13.0,12.0,15.0,17.0,21.0,...,75.0,74.0,75.0,76.0,78.0,79.0,76.0,76.0,75.0,77.0
2022-04-01 09:00:00,ISL001,604.1268,653.535674,14.00523,100.519403,13.0,12.0,15.0,17.0,21.0,...,75.0,74.0,75.0,76.0,78.0,79.0,76.0,76.0,75.0,77.0

In [7]:
df.columns

Index(['site_name', 'I', 'Iclr', 'latt', 'long', 'CI', 'CI_1', 'CI_2', 'CI_3',
       'CI_4', 'CI_5', 'CI_6', 'CI_7', 'CI_8', 'CI_9', 'CI_10', 'CI_11',
       'CI_12', 'CI_14', 'CI_15', 'CI_16', 'CI_17', 'CI_18', 'CI_19', 'CI_20',
       'CI_21', 'CI_22', 'CI_23', 'CI_24', 'CI_25', 'R', 'R_1', 'R_2', 'R_3',
       'R_4', 'R_5', 'R_6', 'R_7', 'R_8', 'R_9', 'R_10', 'R_11', 'R_12',
       'R_14', 'R_15', 'R_16', 'R_17', 'R_18', 'R_19', 'R_20', 'R_21', 'R_22',
       'R_23', 'R_24', 'R_25'],
      dtype='object')

# NCEP forecast data

In [8]:
nwp_file_path = "nwp"
filenames = ['site001_2022-01-01to2022-12-31.csv','site001_2023-01-01to2023-07-31.csv']
df_nwp_2022 = pd.read_csv(os.path.join(nwp_file_path,filenames[0]), delimiter=';',parse_dates=[['# Date', 'UT time']])
df_nwp_2023 = pd.read_csv(os.path.join(nwp_file_path,filenames[1]), delimiter=';',parse_dates=[['# Date', 'UT time']])
df_nwp = pd.concat([df_nwp_2022,df_nwp_2023], axis=0)
df_nwp.set_index('# Date_UT time', inplace=True)
df_nwp.index.names = ['Datetime']
df_nwp.index = df_nwp.index.str.replace('24:00', '00:00')
df_nwp.index = pd.to_datetime(df_nwp.index)
df_nwp.head()

,Temperature,Relative Humidity,Pressure,Wind speed,Wind direction,Rainfall,Snowfall,Snow depth,Short-wave irradiation
Datetime,,,,,,,,,
2022-01-01 00:15:00,294.56,66.96,1015.16,3.36,20.53,0.0,0.0,0.0,12.4400
2022-01-01 00:30:00,294.97,65.78,1015.33,3.18,21.46,0.0,0.0,0.0,22.8662
2022-01-01 00:45:00,295.38,64.60,1015.50,3.01,22.51,0.0,0.0,0.0,34.8691
2022-01-01 01:00:00,295.79,63.42,1015.67,2.84,23.68,0.0,0.0,0.0,48.3559
2022-01-01 01:15:00,296.19,62.24,1015.84,2.67,25.01,0.0,0.0,0.0,63.2205

## Unit conversion of forecast data

In [9]:
#Convert Wh/m2 to W/m2
df_nwp['Short-wave irradiation']=df_nwp['Short-wave irradiation']*4
df_nwp['Short-wave irradiation'].describe()

count    55392.000000
mean       227.548257
std        309.122259
min          0.000000
25%          0.000000
50%          4.411400
75%        447.837200
max       1156.288000
Name: Short-wave irradiation, dtype: float64

# Merge cloud and forecast data

In [10]:
# Extract only specific areas from cloud data (no.13 CI ch and R ch)
df_extract = df[['I','Iclr','CI','R']]
# Merge cloud and forecast data
df_all = df_nwp.join(df_extract)
df_all.head()

,Temperature,Relative Humidity,Pressure,Wind speed,Wind direction,Rainfall,Snowfall,Snow depth,Short-wave irradiation,I,Iclr,CI,R
Datetime,,,,,,,,,,,,,
2022-01-01 00:15:00,294.56,66.96,1015.16,3.36,20.53,0.0,0.0,0.0,49.7600,NaN,NaN,NaN,NaN
2022-01-01 00:30:00,294.97,65.78,1015.33,3.18,21.46,0.0,0.0,0.0,91.4648,NaN,NaN,NaN,NaN
2022-01-01 00:45:00,295.38,64.60,1015.50,3.01,22.51,0.0,0.0,0.0,139.4764,NaN,NaN,NaN,NaN
2022-01-01 01:00:00,295.79,63.42,1015.67,2.84,23.68,0.0,0.0,0.0,193.4236,NaN,NaN,NaN,NaN
2022-01-01 01:15:00,296.19,62.24,1015.84,2.67,25.01,0.0,0.0,0.0,252.8820,NaN,NaN,NaN,NaN

In [11]:
# Add clear-sky index
df_all['k_now'] = df_all['I']/df_all['Iclr']

# Normalize cloud index
df_all['CI'] = (df_all['CI']-df_all['CI'].min())/(df_all['CI'].max()-df_all['CI'].min())
df_all['R'] = (df_all['R']-df_all['R'].min())/(df_all['R'].max()-df_all['R'].min())

# Add hour index as a new feature
df_all['hour_index'] = df_all.index.hour-11.5

# Add lag of irradiance as new features
df_all['I_lag30'] = df_all['I'].shift(2)
df_all['I_lag45'] = df_all['I'].shift(3)

# Add lag of cloud index as new features
df_all['CI_lag30'] = df_all['CI'].shift(2)
df_all['R_lag30'] = df_all['R'].shift(2)

df_all.loc['2022-05-01'].head(60)
# df_all.head()

,Temperature,Relative Humidity,Pressure,Wind speed,Wind direction,Rainfall,Snowfall,Snow depth,Short-wave irradiation,I,Iclr,CI,R,k_now,hour_index,I_lag30,I_lag45,CI_lag30,R_lag30
Datetime,,,,,,,,,,,,,,,,,,,
2022-05-01 00:15:00,302.57,69.47,1005.16,1.72,118.55,0.181421,0.0,0.0,208.0228,NaN,NaN,NaN,NaN,NaN,-11.5,NaN,NaN,NaN,NaN
2022-05-01 00:30:00,302.88,67.97,1005.25,1.63,114.13,0.190689,0.0,0.0,261.6488,NaN,NaN,NaN,NaN,NaN,-11.5,NaN,NaN,NaN,NaN
2022-05-01 00:45:00,303.20,66.47,1005.33,1.56,109.25,0.199957,0.0,0.0,317.4732,NaN,NaN,NaN,NaN,NaN,-11.5,NaN,NaN,NaN,NaN
2022-05-01 01:00:00,303.51,64.98,1005.41,1.50,103.94,0.209224,0.0,0.0,375.1952,NaN,NaN,NaN,NaN,NaN,-10.5,NaN,NaN,NaN,NaN
2022-05-01 01:15:00,303.82,63.48,1005.49,1.45,98.23,0.218492,0.0,0.0,434.4940,NaN,NaN,NaN,NaN,NaN,-10.5,NaN,NaN,NaN,NaN
2022-05-01 01:30:00,304.13,61.98,1005.57,1.42,92.20,0.227760,0.0,0.0,495.0284,NaN,NaN,NaN,NaN,NaN,-10.5,NaN,NaN,NaN,NaN
2022-05-01 01:45:00,304.44,60.49,1005.65,1.41,85.97,0.222803,0.0,0.0,550.2908,NaN,NaN,NaN,NaN,NaN,-10.5,NaN,NaN,NaN,NaN
2022-05-01 02:00:00,304.75,58.99,1005.73,1.41,79.67,0.203620,0.0,0.0,598.4312,NaN,NaN,NaN,NaN,NaN,-9.5,NaN,NaN,NaN,NaN
2022-05-01 02:15:00,305.07,57.49,1005.81,1.43,73.46,0.184437,0.0,0.0,644.8496,NaN,NaN,NaN,NaN,NaN,-9.5,NaN,NaN,NaN,NaN
2022-05-01 02:30:00,305.38,56.00,1005.89,1.46,67.48,0.165254,0.0,0.0,689.3144,NaN,NaN,NaN,NaN,NaN,-9.5,NaN,NaN,NaN,NaN
2022-05-01 02:45:00,305.69,54.50,1005.97,1.51,61.83,0.146071,0.0,0.0,731.6016,NaN,NaN,NaN,NaN,NaN,-9.5,NaN,NaN,NaN,NaN
2022-05-01 03:00:00,306.00,53.00,1006.05,1.57,56.58,0.126889,0.0,0.0,771.4944,NaN,NaN,NaN,NaN,NaN,-8.5,NaN,NaN,NaN,NaN
2022-05-01 03:15:00,306.22,52.24,1005.87,1.64,55.76,0.107706,0.0,0.0,808.7832,NaN,NaN,NaN,NaN,NaN,-8.5,NaN,NaN,NaN,NaN
2022-05-01 03:30:00,306.44,51.48,1005.69,1.70,55.00,0.088523,0.0,0.0,843.2676,NaN,NaN,NaN,NaN,NaN,-8.5,NaN,NaN,NaN,NaN
2022-05-01 03:45:00,306.65,50.72,1005.51,1.77,54.29,0.069340,0.0,0.0,874.7588,NaN,NaN,NaN,NaN,NaN,-8.5,NaN,NaN,NaN,NaN
2022-05-01 04:00:00,306.87,49.95,1005.33,1.84,53.64,0.050157,0.0,0.0,903.0780,NaN,NaN,NaN,NaN,NaN,-7.5,NaN,NaN,NaN,NaN
2022-05-01 04:15:00,307.09,49.19,1005.15,1.90,53.03,0.030974,0.0,0.0,928.0588,NaN,NaN,NaN,NaN,NaN,-7.5,NaN,NaN,NaN,NaN
2022-05-01 04:30:00,307.31,48.43,1004.97,1.97,52.47,0.011791,0.0,0.0,949.5480,NaN,NaN,NaN,NaN,NaN,-7.5,NaN,NaN,NaN,NaN
2022-05-01 04:45:00,307.52,47.66,1004.79,2.04,51.94,0.002502,0.0,0.0,937.7844,NaN,NaN,NaN,NaN,NaN,-7.5,NaN,NaN,NaN,NaN
2022-05-01 05:00:00,307.74,46.90,1004.61,2.10,51.44,0.003107,0.0,0.0,891.9224,NaN,NaN,NaN,NaN,NaN,-6.5,NaN,NaN,NaN,NaN
2022-05-01 05:15:00,307.96,46.14,1004.43,2.17,50.98,0.003711,0.0,0.0,841.8356,NaN,NaN,NaN,NaN,NaN,-6.5,NaN,NaN,NaN,NaN
2022-05-01 05:30:00,308.17,45.38,1004.25,2.24,50.54,0.004315,0.0,0.0,788.1536,NaN,NaN,NaN,NaN,NaN,-6.5,NaN,NaN,NaN,NaN
2022-05-01 05:45:00,308.39,44.61,1004.07,2.31,50.13,0.004920,0.0,0.0,731.5232,NaN,NaN,NaN,NaN,NaN,-6.5,NaN,NaN,NaN,NaN
2022-05-01 06:00:00,308.61,43.85,1003.89,2.37,49.74,0.005524,0.0,0.0,672.6028,NaN,NaN,NaN,NaN,NaN,-5.5,NaN,NaN,NaN,NaN
2022-05-01 06:15:00,308.42,44.31,1003.75,2.18,46.76,0.006129,0.0,0.0,612.0576,NaN,NaN,NaN,NaN,NaN,-5.5,NaN,NaN,NaN,NaN
2022-05-01 06:30:00,308.23,44.77,1003.62,2.00,43.22,0.006733,0.0,0.0,550.5548,NaN,NaN,NaN,NaN,NaN,-5.5,NaN,NaN,NaN,NaN
2022-05-01 06:45:00,308.04,45.23,1003.49,1.82,38.97,0.007338,0.0,0.0,488.7600,NaN,NaN,NaN,NaN,NaN,-5.5,NaN,NaN,NaN,NaN
2022-05-01 07:00:00,307.85,45.69,1003.35,1.66,33.85,0.007942,0.0,0.0,427.3316,91.999920,205.376526,0.568627,0.619608,0.447957,-4.5,NaN,NaN,NaN,NaN
2022-05-01 07:15:00,307.66,46.14,1003.22,1.51,27.66,0.008547,0.0,0.0,366.9160,8.669577,273.059673,0.568627,0.619608,0.031750,-4.5,NaN,NaN,NaN,NaN
2022-05-01 07:30:00,307.47,46.60,1003.08,1.38,20.24,0.009151,0.0,0.0,308.1448,12.803170,340.552121,0.858824,0.827451,0.037595,-4.5,91.999920,NaN,0.568627,0.619608
2022-05-01 07:45:00,307.28,47.06,1002.95,1.28,11.51,0.009059,0.0,0.0,275.1848,20.704560,407.131007,0.858824,0.827451,0.050855,-4.5,8.669577,91.999920,0.568627,0.619608
2022-05-01 08:00:00,307.09,47.52,1002.81,1.22,1.59,0.008272,0.0,0.0,265.4216,48.615470,472.281431,0.909804,0.803922,0.102938,-3.5,12.803170,8.669577,0.858824,0.827451
2022-05-01 08:15:00,306.90,47.98,1002.68,1.19,350.92,0.007484,0.0,0.0,254.3452,104.986000,535.591748,0.909804,0.803922,0.196019,-3.5,20.704560,12.803170,0.858824,0.827451
2022-05-01 08:30:00,306.72,48.44,1002.55,1.21,340.17,0.006696,0.0,0.0,241.9832,145.919600,596.708987,0.854902,0.749020,0.244541,-3.5,48.615470,20.704560,0.909804,0.803922
2022-05-01 08:45:00,306.53,48.90,1002.41,1.27,330.08,0.005908,0.0,0.0,228.3704,184.402300,655.318166,0.854902,0.749020,0.281394,-3.5,104.986000,48.615470,0.909804,0.803922
2022-05-01 09:00:00,306.34,49.36,1002.28,1.36,321.11,0.005120,0.0,0.0,213.5472,172.916000,711.132143,0.827451,0.749020,0.243156,-2.5,145.919600,104.986000,0.854902,0.749020
2022-05-01 09:15:00,306.27,49.61,1002.35,1.28,321.74,0.004333,0.0,0.0,197.5616,172.001400,763.886487,0.827451,0.749020,0.225166,-2.5,184.402300,145.919600,0.854902,0.749020
2022-05-01 09:30:00,306.21,49.85,1002.42,1.20,322.46,0.003545,0.0,0.0,180.4676,191.572000,813.336903,0.670588,0.784314,0.235538,-2.5,172.916000,184.402300,0.827451,0.749020
2022-05-01 09:45:00,306.14,50.10,1002.49,1.12,323.28,0.002757,0.0,0.0,162.3260,257.051100,859.258019,0.670588,0.784314,0.299155,-2.5,172.001400,172.916000,0.827451,0.749020
2022-05-01 10:00:00,306.08,50.35,1002.55,1.05,324.23,0.001969,0.0,0.0,143.2024,437.210100,901.442921,0.560784,0.537255,0.485011,-1.5,191.572000,172.001400,0.670588,0.784314
2022-05-01 10:15:00,306.02,50.60,1002.62,0.97,325.33,0.001182,0.0,0.0,123.1696,681.421400,939.703100,0.560784,0.537255,0.725145,-1.5,257.051100,191.572000,0.670588,0.784314
2022-05-01 10:30:00,305.95,50.85,1002.69,0.89,326.62,0.000394,0.0,0.0,102.3052,488.239800,973.868634,0.560784,0.537255,0.501341,-1.5,437.210100,257.051100,0.560784,0.537255
2022-05-01 10:45:00,305.89,51.10,1002.76,0.81,328.16,0.001180,0.0,0.0,76.9768,662.326400,1003.788486,0.560784,0.537255,0.659827,-1.5,681.421400,437.210100,0.560784,0.537255
2022-05-01 11:00:00,305.83,51.35,1002.83,0.73,330.03,0.003540,0.0,0.0,50.4224,952.226800,1029.330841,0.549020,0.545098,0.925093,-0.5,488.239800,681.421400,0.560784,0.537255
2022-05-01 11:15:00,305.76,51.60,1002.90,0.66,332.33,0.005901,0.0,0.0,27.5344,1060.651000,1050.383466,0.549020,0.545098,1.009775,-0.5,662.326400,488.239800,0.560784,0.537255
2022-05-01 11:30:00,305.70,51.85,1002.97,0.58,335.22,0.008261,0.0,0.0,8.4196,946.593400,1066.854032,0.384314,0.411765,0.887275,-0.5,952.226800,662.326400,0.549020,0.545098
2022-05-01 11:45:00,305.63,52.10,1003.04,0.51,338.94,0.010621,0.0,0.0,0.0028,790.504500,1078.670403,0.384314,0.411765,0.732851,-0.5,1060.651000,952.226800,0.549020,0.545098
2022-05-01 12:00:00,305.57,52.35,1003.11,0.44,343.87,0.012981,0.0,0.0,0.0000,865.457800,1085.780878,0.454902,0.415686,0.797083,0.5,946.593400,1060.651000,0.384314,0.411765
2022-05-01 12:15:00,305.31,53.55,1003.35,0.35,313.23,0.015342,0.0,0.0,0.0000,935.802100,1088.154640,0.454902,0.415686,0.859990,0.5,790.504500,946.593400,0.384314,0.411765
2022-05-01 12:30:00,305.06,54.76,1003.59,0.39,277.87,0.017702,0.0,0.0,0.0000,532.941200,1085.783649,0.549020,0.568627,0.490836,0.5,865.457800,790.504500,0.454902,0.415686
2022-05-01 12:45:00,304.80,55.96,1003.83,0.53,255.64,0.020062,0.0,0.0,0.0000,609.687100,1078.675934,0.549020,0.568627,0.565218,0.5,935.802100,865.457800,0.454902,0.415686
2022-05-01 13:00:00,304.54,57.16,1004.07,0.72,243.88,0.022423,0.0,0.0,0.0000,805.941400,1066.862298,0.490196,0.470588,0.755432,1.5,532.941200,935.802100,0.549020,0.568627
2022-05-01 13:15:00,304.29,58.36,1004.31,0.93,237.15,0.024783,0.0,0.0,0.0000,875.334600,1050.394432,0.490196,0.470588,0.833339,1.5,609.687100,532.941200,0.549020,0.568627
2022-05-01 13:30:00,304.03,59.57,1004.55,1.14,232.90,0.027143,0.0,0.0,0.0000,901.526200,1029.344458,0.419608,0.509804,0.875826,1.5,805.941400,609.687100,0.490196,0.470588
2022-05-01 13:45:00,303.78,60.77,1004.79,1.36,230.00,0.028569,0.0,0.0,0.0000,827.962800,1003.804694,0.419608,0.509804,0.824825,1.5,875.334600,805.941400,0.490196,0.470588
2022-05-01 14:00:00,303.52,61.97,1005.04,1.58,227.91,0.029061,0.0,0.0,0.0000,499.396900,973.887363,0.211765,0.270588,0.512787,2.5,901.526200,875.334600,0.419608,0.509804
2022-05-01 14:15:00,303.26,63.17,1005.28,1.80,226.33,0.029554,0.0,0.0,0.0000,553.975000,939.724266,0.211765,0.270588,0.589508,2.5,827.962800,901.526200,0.419608,0.509804
2022-05-01 14:30:00,303.01,64.38,1005.52,2.03,225.10,0.030046,0.0,0.0,0.0000,700.772500,901.466431,0.211765,0.337255,0.777369,2.5,499.396900,827.962800,0.211765,0.270588
2022-05-01 14:45:00,302.75,65.58,1005.76,2.25,224.12,0.030538,0.0,0.0,0.0000,689.139900,859.283769,0.211765,0.337255,0.801993,2.5,553.975000,499.396900,0.211765,0.270588
2022-05-01 15:00:00,302.49,66.78,1006.00,2.48,223.31,0.031030,0.0,0.0,0.0000,680.067900,813.364776,0.066667,0.235294,0.836117,3.5,700.772500,553.975000,0.211765,0.337255

In [12]:
# Drop unnecessary features
df_forecast = df_all.drop(columns=['CI', 'R','k_now','Snowfall','Snow depth'])
df_forecast.rename(columns = {'Relative Humidity':'Relative_Humidity','Wind speed':'Wind_speed','Wind direction':'Wind_direction','Short-wave irradiation':'Short_wave_irradiation'}, inplace = True) 
# Remove NaN data
df_forecast = df_forecast.dropna()
df_forecast.head()

,Temperature,Relative_Humidity,Pressure,Wind_speed,Wind_direction,Rainfall,Short_wave_irradiation,I,Iclr,hour_index,I_lag30,I_lag45,CI_lag30,R_lag30
Datetime,,,,,,,,,,,,,,
2022-04-01 08:45:00,308.13,38.32,1006.13,5.71,28.78,0.0,278.2168,536.3066,594.551229,-3.5,413.5059,357.6841,0.054902,0.305882
2022-04-01 09:00:00,308.06,38.34,1005.97,5.80,28.60,0.0,239.3480,604.1268,653.535674,-2.5,471.1933,413.5059,0.050980,0.290196
2022-04-01 09:15:00,307.70,39.64,1006.15,5.90,30.95,0.0,202.4816,661.4119,709.505601,-2.5,536.3066,471.1933,0.050980,0.290196
2022-04-01 09:30:00,307.33,40.95,1006.33,6.02,33.21,0.0,167.9160,723.4158,762.194726,-2.5,604.1268,536.3066,0.050980,0.290196
2022-04-01 09:45:00,306.97,42.25,1006.51,6.14,35.38,0.0,135.9256,773.8237,811.358317,-2.5,661.4119,604.1268,0.050980,0.290196

In [13]:
# Export the prepared data intended for forecasting
df_forecast.to_csv('site001_dataprepare_forecast.csv')

# Seperate time period for features selection in MATLAB

In [15]:
df_morning = df_forecast.between_time('7:00','9:45')
df_noon = df_forecast.between_time('10:00','15:00')
df_evening = df_forecast.between_time('15:15','17:00')
df_morning.to_csv('features_selection/site001_dataprepare_forecast_morning.csv')
df_noon.to_csv('features_selection/site001_dataprepare_forecast_noon.csv')
df_evening.to_csv('features_selection/site001_dataprepare_forecast_evening.csv')